<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:jaxws="http://cxf.apache.org/jaxws"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    
    
    
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    <property name="targetClass" value="java.lang.System"/>
    <property name="targetMethod" value="setProperty"/>
    <property name="arguments">
      <list>
        <value>org.apache.cxf.Logger</value>
        <value>org.apache.cxf.common.logging.Slf4jLogger</value>
      </list>
    </property>
  </bean>
    
<!--     <bean id="helloWorld" class="com.home.soa.EmployeeServiceImpl"></bean> -->
    
    <jaxws:endpoint id="helloWorldSoap" implementor="com.home.soa.EmployeeServiceImpl" address="/Employee"/>
    
</beans>